###Notebook by [Ravichandra]

In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'))

In [10]:
df

          A         B         C         D
0 -1.970768 -0.300153 -0.949855  1.456942
1 -0.969173  0.085480 -0.297419 -0.947579
2 -1.076547  2.472544 -1.282845  0.105802
3 -1.081387  0.056605 -0.622612  0.477797
4 -0.538102  1.197693  0.879349  0.517693
5 -0.280812 -0.432052 -0.901941 -2.394715

In [16]:
df[2:4]

          A         B         C         D
2 -1.076547  2.472544 -1.282845  0.105802
3 -1.081387  0.056605 -0.622612  0.477797

In [20]:
df.iloc[0]

A   -1.970768
B   -0.300153
C   -0.949855
D    1.456942
Name: 0, dtype: float64

In [21]:
df.iloc[2:4,0:2]

          A         B
2 -1.076547  2.472544
3 -1.081387  0.056605